useDynLib(HCfused, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

import(methods)
import(cluster)
import(fastcluster)
import(doParallel)
import(foreach)

importFrom("stats", "dnorm", "rgamma", "rnorm", "runif", "sd")
importFrom("utils", "read.table", "write.table")

export(calc.BINARY)
export(calc.SIL)
export(combine_clusters)


export(HC_fused_get_contributions)
export(HC_fused_calc_distances)

export(HC_fused)
export(HC_fused_subtyping)
export(HC_fused_subtyping_ens) 
export(HC_fused_subtyping_kNN)
export(HC_fused_subtyping_kNN_sub)
export(HC_fused_calc_NETWORK)
export(HC_fused_kNNGraph)
export(HC_fused_kNNGraph2)

